/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Center the glassmorphic container without removing the background */
.relative {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Glassmorphic Container */
.glassmorphic-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
}

/* Adjust the text color inside the glassmorphic container */
.glass-container h4 {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.glassmorphic-container p,
.glassmorphic-container label {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

/* Ensure the buttons and inputs are centered */
.glassmorphic-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust the helper text color */
.MuiFormHelperText-root {
  color: #fff !important;
}

/* Adjust the error color */
.MuiFormHelperText-root.Mui-error {
  color: #f44336 !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
